{% extends 'admin_base.html'%}

{% block content%}

		<div class="main-content">
			<div class="title">
				Analytics
			</div>
			
			<div class="main">
				<div class="widget1">
					<div class="title">Number of views</div>
					<div class="chart"></div>
				</div>
				<div class="widget2">
					<div class="title">Number of likes</div>
					<div class="chart"></div>
				</div>
				<div class="widget3">
					<div class="title">Number of comments</div>
					<div class="chart"></div>
				</div>
			</div>
		</div>
		
{%endblock%}