@import url('https://fonts.googleapis.com/css?family=Monda&display=swap');




body{
margin:0;
padding: 0;
  background-color: green;
}

.header{
  position: absolute;
  height: 44px;
  width: 100%;
  background-color: red;
}
.side-nav{
  position: absolute;
  width: 100%;
  background-color: green;
  height:100vh;
  padding-top: 44px;
}