<!DOCTYPE html>
<html lang="en">

<head>
  <title>B-MedStore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     {% load staticfiles %}
     <link rel="stylesheet" type="text/css" href="{%static 'admin/index.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>
<body>
   {% include 'administration/admin_base_head.html'%}

      {%block content%}
    {% endblock %}
   </div>
<!--   {%include 'base/footer.html'%}-->
 {% include 'base/js.html'%}

  </body>
</html>